      <nav>
	     <div id="menubar">
          <ul id="nav">
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="ourwork.html">Our Work</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="/contacts/new">Contact Us</a></li>
          </ul>
        </div><!--close menubar-->	
      </nav>