 <div class="slideshow">
	    <ul class="slideshow">
          <li class="show"><%= image_tag 'home_1.jpg' %></li>
          <li><%= image_tag 'home_2.jpg' %></li>
        </ul> 
	  </div><!--close slideshow--> 